# Entra API - see readme for more info.
OAUTH_SKIP_AUTH=true
OAUTH_CLIENT_ID=your_client_id
OAUTH_CLIENT_SECRET=your_client_secret
OAUTH_TENANT_ID=your_tenant_id
# This can be generated with the following command:
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
EXPRESS_SESSION_SECRET=your_session_secret
