{% extends "partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ locale.mainHeading.title }}</h1>
    </div>
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">
        <form method="post">
        <div class="search-bar">
              <div class="search-bar__search">
                  {{ govukInput({
                      label: {
                          text: locale.search.prompt
                      },
                      id: "link",
                      name: "link",
                      errorMessage: {
                        text: errors.link
                      } if errors.link,
                      value: data.form.link | default('')
                  }) }}
                  {{ govukButton({
                      text: locale.search.button,
                      type: 'submit'
                  }) }}
              </div>
          </div>
      </form>
    </div>

    {% if data.banners.length > 0 %}
      <div class="govuk-grid-column-two-thirds">
        {% for banner in data.banners %}
          {% set html %}
            <p class="govuk-notification-banner__heading">
              {{ banner.message }}
            </p>
          {% endset %}
          {{ govukNotificationBanner({
            html: html,
            titleText: banner.title,
            classes: ['govuk-!-margin-bottom-4']
          }) }}
        {% endfor %}
      </div>
    {% endif %}

    <div class="govuk-grid-column-three-quarters">
      <div class="file-list">
        {% if data.files.length > 0 %}
          {% for file in data.files %}
            <div class="file-list__item">
              <a class="govuk-link govuk-heading-m govuk-!-margin-bottom-2" href="{{ file.microsoftUrl }}" target="_blank">
                {% if file.microsoftFileType === 'folder' %}
                  {{ locale.fileDisplay.goTos.folder }}
                {% elif file.microsoftFileType === 'MicrosoftForm' %}
                  {% if file.microsoftUrl === 'https://forms.office.com/' %}
                    {{ locale.fileDisplay.goTos.formLanding }}
                  {% else %}
                    {{ locale.fileDisplay.goTos.form }}
                  {% endif %}
                {% else %}
                  {{ locale.fileDisplay.goTos.file }}
                {% endif %}
              </a>
              <dl class="file-list__item__metadata">
                <dt>{{ locale.fileDisplay.prefixes.path }}</dt>
                <dd>{{ file.microsoftPath }}</dd>
                <dt>{{ locale.fileDisplay.prefixes.owner }}</dt>
                <dd>{{ file.googleOwnerEmail }}</dd>
              </dl>
            </div>
          {% endfor %}
        {% elif data.files.length == 0 %}
          <div class="file-list__item--no-results">
            <p class="govuk-heading-m">{{ locale.fileDisplay.noResults | safe }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for suggestion in locale.fileDisplay.suggestions %}
                <li>{{ suggestion }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
