{% extends "partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "You can be fined up to £5,000 if you do not register.",
  iconFallbackText: "Warning"
}) }}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ locale.mainHeading.title }}</h1>
    </div>
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">
      <form method="post">
        <div class="search-bar">
              <div class="search-bar__search">
                  {{ govukInput({
                      label: {
                          text: locale.search.prompt
                      },
                      id: "link",
                      name: "link",
                      errorMessage: {
                        text: errors.link
                      } if errors.link,
                      value: data.form.link | default('')
                  }) }}
                  {{ govukButton({
                      text: locale.search.button,
                      type: 'submit'
                  }) }}
              </div>
          </div>
      </form>
    </div>

    {% if data.duplicatesDetected %}
      <div class="govuk-grid-column-two-thirds">
        {{ govukWarningText({
          text: locale.warnings.duplicatesDetected,
          iconFallbackText: "Warning"
        }) }}
      </div>
    {% elif data.files.length > 1 %}
      <div class="govuk-grid-column-two-thirds">
        {{ govukWarningText({
          text: locale.warnings.multiplesDetected,
          iconFallbackText: "Warning"
        }) }}
      </div>
    {% endif %}

    <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-3">
      <div class="file-list">
        {% if data.files.length > 0 %}
          {% for file in data.files %}
            <div class="file-list__item">
              <a class="govuk-link govuk-heading-m govuk-!-margin-bottom-2" href="{{ file.microsoftUrl }}" target="_blank">
                {% if file.microsoftFileType === 'folder' %}
                  {{ locale.fileDisplay.goTos.folder }}
                {% elif file.microsoftFileType === 'MicrosoftForm' %}
                  {{ locale.fileDisplay.goTos.form }}
                {% else %}
                  {{ locale.fileDisplay.goTos.file }}
                {% endif %}
              </a>
              <dl class="file-list__item__metadata">
                <dt>{{ locale.fileDisplay.prefixes.path }}</dt>
                <dd>{{ file.microsoftPath }}</dd>
                <dt>{{ locale.fileDisplay.prefixes.owner }}</dt>
                <dd>{{ file.microsoftOwnerEmail or file.googleOwnerEmail }}</dd>
              </dl>
            </div>
          {% endfor %}
        {% elif data.formDetected %}
          <div class="file-list__item--no-results">
            <h2 class="govuk-heading-m">{{ locale.warnings.formDetected.title }}</h2>
            {{ locale.warnings.formDetected.html.join('') | safe }}
          </div>
        {% elif data.files.length == 0 %}
          <div class="file-list__item--no-results">
            {% set html %}
              <p class="govuk-heading-m">{{ locale.fileDisplay.noResults | safe }}</p>
            {% endset %}
            {{ govukWarningText({
              html: html,
              iconFallbackText: "Warning",
              classes: "govuk-!-margin-bottom-0"
            }) }}
            <ul class="govuk-list govuk-list--bullet">
              {% for suggestion in locale.fileDisplay.suggestions %}
                <li>{{ suggestion }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>

    {% if data.files.length %}
      <div class="govuk-grid-column-two-thirds">
        {% set html %}
          <dl class="file-list__details__content">
            {% for entry in locale.details.entries %}
                <dt>{{ entry.title }}</dt>
                <dd>{{ entry.text }}</dd>
            {% endfor %}
          </dl>
        {% endset %}
        {{ govukDetails({
          summaryText: locale.details.title,
          html: html
        }) }}
      </div>
    {% endif %}
  </div>
{% endblock %}
